<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubicación</title>
</head>
<body>
  <h1>Ubicación de mi empresa</h1>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25072.876257914984!2d-1.7200829853857216!3d38.23056559990666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6448c61de6eb27%3A0x98a6a65f500a7a02!2s30420%20Calasparra%2C%20Murcia!5e0!3m2!1ses!2ses!4v1700226444346!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>